node_modules
*.log
.nuxt
nuxt.d.ts
.output

.DS_Store

.vercel

# LaTeX files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.fmt
*.toc
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
# Ignore german LaTeX files
main_german.tex
main_german.pdf
